<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="insert" method="post">
    username:<input type="text" name="username"/></br>
    sex:<input type="text" name="sex"/></br>
    number:<input type="text" name="number"/></br>
    branch:<input type="text" name="branch"/></br>
    idcard:<input type="text" name="idcard"/></br>
    xingzhengban:<input type="text" name="xingzhengban"/></br>
    jiguan:<input type="text" name="jiguan"/></br>
    biyezhongxue:<input type="text" name="biyezhongxue"/></br>
    phone1:<input type="text" name="phone1"/></br>
    phone2:<input type="text" name="phone2"/></br>
    email:<input type="text" name="email"/></br>
    <input type="submit"/>
</form>
</body>
</html>
